/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size:1.1rem;
}

html {
    scroll-behavior: smooth;
}

blockquote {
    margin-bottom: 130px;
}

p {
   line-height: 1.4;
}

h2 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.left-aligned {
    text-align: left;
    width: 80%;         /* Set the width of the paragraph */
    margin-right: auto;  /* Auto margin on the left to push it to the right */
    margin-left: 0;   
}

.right-aligned {
    text-align: right;
    width: 80%;         /* Set the width of the paragraph */
    margin-left: auto;  /* Auto margin on the left to push it to the right */
    margin-right: 0;   
}

.center-aligned {
    text-align: center;
    width: 80%;
    margin-left: auto;  /* Auto margin on the left to push it to the right */
    margin-right: auto;   
}

#background > p {
    margin-bottom: 40px;
}

section {
    margin-bottom: 80px;
}

.content::-webkit-scrollbar {
    display: none;
}
.container {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: flex-start; /* Aligns items to the top */
    height: 100vh;
    padding: 20px 0; /* Adds top and bottom padding to the container */
}

main {
    max-width: 750px; /* Fixed width for the main content */
    width: 60%;
    padding: 70px;
    /* background-color: #f9f9f9;  */
    /* Light background for the content area */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Adds shadow for better focus */
    overflow-y: auto; /* Enables scrolling if content overflows */
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%; /* Ensures aside takes full height */
}

.toc {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}

.toc h2 {
    margin-top: 0;
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc li a {
    text-decoration: none;
    color: blue;
}

.horizontal-line-long {
    opacity: 60%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.horizontal-line-short {
    opacity: 60%;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

section#agenda {

    li {
        padding-bottom: 10px;    
    }
}

section#join {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input[type="email"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 15px; /* Rounded edges */
    outline: none; /* Removes the default focus outline */
}

input[type="email"]:focus {
    border-color: #0056b3;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Media Query for Mobile Devices */
@media (max-width: 950px) {
    .toc {
        display: none;  /* Hide TOC on smaller screens */
    }
    .content {
        width: 100%;  /* Make content take full width */
        margin: 0;  /* Remove margins */
        padding: 10px;  /* Adjust padding for smaller screens */
    }
}